<div class="container">
  <h1>Bienvenue <%= @first_name.nil? ? "Invité" : @first_name.capitalize %> !</h1>
  <p>Voici notre super site de potins !</p>

  <%= link_to "Créer un potin", new_gossip_path, class: "button btn btn-primary" %>

  <!-- Afficher l'alerte ou la notification -->
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <h2>Derniers potins</h2>

  <% @gossips.each do |gossip| %>
    <div class="card">
      <h3 class="card-title"><%= gossip.title %></h3>
      <p>Par : <%= link_to gossip.author.first_name, user_profile_path(gossip.author_id) %></p>
      <%= link_to "Voir plus", gossip_path(gossip, first_name: @first_name), class: "button" %>
    </div>
  <% end %>
</div>