<div class="container my-5">
  <% if user_signed_in? %>
    <h1 class="display-4 text-center">Bienvenue <%= current_user.first_name %> !</h1>
  <% else %>
    <h1 class="display-4 text-center">Bienvenue sur notre site !</h1>
  <% end %>

  <!-- Lien pour créer un potin -->
  <% if user_signed_in? %>
    <div class="text-center">
      <%= link_to "Créer un potin", new_gossip_path, class: "btn btn-primary my-4" %>
    </div>
  <% end %>

  <h2 class="my-4 text-center">Derniers potins</h2>

  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title"><%= gossip.title %></h3>
            <p class="card-text">Par : <%= gossip.author.first_name %> <%= gossip.author.last_name %></p>
            <p class="card-text"><%= gossip.content.truncate(100) %>...</p>
            <%= link_to "Voir plus", gossip_path(gossip), class: "btn btn-primary" %>
          </div>
          <div class="card-footer text-muted">
            Posté le <%= gossip.created_at.in_time_zone("Europe/Paris").strftime("%d/%m/%Y") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
